@import "./_include-media.scss"

// @font-face
//   font-family: 'Futura'
//   font-weight: 400
//   src: url('/src/FuturaStd-Book.otf')
//
// @font-face
//   font-family: 'Futura'
//   font-weight: 500
//   src: url('/src/FuturaStd-Bold.otf')
//
// @font-face
//   font-family: 'Futura'
//   font-weight: 300
//   src: url('/src/FuturaStd-Light.otf')

// green tones
$lightcolor: #c6dec0
$neutralcolor: #8acd94
$darkcolor: #63a088
$bgcolor: mix(#252525, #0e4b60, 80)

//dark grey tones
// $lightcolor: #F6F6F6
// $neutralcolor: #F6F6F6
// $darkcolor: #666666
// $bgcolor: #252525

// //light grey tones
// $lightcolor: #FFFFFF
// $neutralcolor: #F6F6F6
// $darkcolor: #CCCCCC
// $bgcolor: #252525
// $accentcolor: #17936f

$headerheight: 70px
$footerheight: 50px
$projectlistwidth: 300px

$contentmargin: $headerheight + 20px

$breakpoints: (small: 480px, medium: 768px, large: 1024px)

html
  width: 100%
  height: 100%
  background-color: $bgcolor

body
  font-family: 'Open Sans', sans-serif
  width: 100%
  height: 100%
  min-width: 360px
  max-width: 900px
  margin: 0 auto
  font-size: 16px
  // background-color: $bgcolor
  color: $lightcolor
  overflow-x: hidden


h1
  font-size: 2.5em
  font-weight: 700
  margin: 0px

h2
  font-size: 2em
  font-weight: 400
  margin: 0px

p
  font-size: 1em
  font-weight: 300

img
  opacity: 1

.md


#canvashook

  canvas
    position: fixed
    // width: 100%
    height: 100%
    top: 0px
    left: 0px
    pointer-events: none
    overflow-x: hidden
    transform: translateX(0%)
    transition: transform 1s ease-in-out
    z-index: -1

  &.move

    canvas
      transform: translateX(-15%)

#app
  width: 100%

#header
  display: block
  position: fixed
  top: 0px
  width: 100%
  max-width: 900px
  z-index: 101
  height: $headerheight
  background-color: $bgcolor

@keyframes wave
  0%
    transform: translateY(0px)
  100%
    transform: translateY(10px)

%wave-animation
  animation: wave 3s
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  animation-direction: alternate

.logotitle
  display: flex
  flex-direction: column
  position: absolute
  height: 100%
  width: 100%
  justify-content: center
  top: 0%
  left: 0%
  transform: translateX(0%)
  transition: all 0.7s ease-in-out

  &.mainscreen

    %main-titles
      @extend %wave-animation
      top: calc(50vh - 100px)
      left: 50%

    .title
      @extend %main-titles
      animation-delay: -1s
      span
        cursor: default


    .subtitle
      @extend %main-titles
      animation-delay: 0s

    .title span, .subtitle span
      transform: translateX(-50%)

  &:not(.mainscreen)
    @include media("<small")
      transform: translateX(-100%)

    .title span
      cursor: pointer


  %title-shared
    display: flex
    position: relative
    top: 0%
    left: 20px
    transform: translateX(0%)
    justify-content: flex-start
    color: $lightcolor
    letter-spacing: 0.2em
    margin: 5px 0px
    // padding-left: 15px
    align-items: center
    transition: all 1s ease-in-out

    span
      transform: translateX(0%)
      transition: all 0.7s ease-in-out

  .title
    @extend %title-shared
    font-size: 1.5rem
    font-weight: 700

  .subtitle
    @extend %title-shared
    font-size: 0.8rem
    font-weight: 300
    line-height: 1rem
    transition-delay: 0.05s

.navigation
  display: flex
  position: absolute
  width: 250px
  right: 0%
  top: 0%
  transform: translate(0%)
  flex-wrap: wrap-reverse
  justify-content: center
  transition: all 0.7s ease-in-out

  &.mainscreen
    right: 50%
    transform: translateX(50%)

    .listItem
      @extend %wave-animation
      top: 50vh !important

  &:not(.mainstream)
    @include media("<small")
      right: 50%
      transform: translate(50%)

// #project-list
//   display: flex
//   width: 250px
//   flex-wrap: wrap
//   justify-content: center

.listItem
  display: flex
  position: relative
  align-items: center
  margin: 5px
  top: 0vh
  transition: all 0.7s ease-in-out

  span
    color: $bgcolor
    background-color: $neutralcolor
    font-size: 0.8rem
    font-weight: 400
    letter-spacing: 0.2em
    cursor: pointer
    padding: 0.2em
    text-transform: lowercase
    transition: all 0.3s ease-in-out
    box-sizing: border-box

  &.activeItem

    span
      border: 1px solid $neutralcolor
      color: $neutralcolor
      background-color: $bgcolor

#footer
  display: block
  position: fixed
  height: $footerheight
  bottom: 0px
  left: 0px
  width: 100%
  background-color: $bgcolor

#backtolist
  position: absolute
  display: flex
  left: 0px
  bottom: 0px
  // height: 100%
  padding-bottom: $footerheight/4
  padding-left: 20px
  z-index: 1000
  cursor: pointer

  &>*
    background-color: $neutralcolor
    color: $bgcolor
    padding: 5px 10px
    border-radius: 10px
    display: flex
    align-items: center

  svg
    padding-right: 7px

.social
  display: flex
  position: absolute
  height: 100%
  max-width: 500px
  width: 100%
  left: 50%
  transform: translateX(-50%)
  justify-content: center
  box-sizing: border-box
  font-size: 1.1rem
  transition: all 0.7s ease-in-out

  .s_item
    display: flex
    position: relative
    bottom: 0px
    left: 0px
    align-items: center
    justify-content: center
    width: 100%
    max-width: 4em
    transition: 0.7s ease-in-out

    a
      pointer-events: all
      font-size: 1.4em
      text-decoration: none
      color: $lightcolor

  &.mainscreen .s_item
    @extend %wave-animation
    bottom: calc(50vh - 150px)


#fadeIn
  display: block
  position: fixed
  width: 100%
  height: 100%
  z-index: 10000
  background-color: $bgcolor
  pointer-events: none

#project-item
  display: block
  position: absolute
  width: 100%
  max-width: 900px
  min-width: 360px
  margin: 0 auto
  margin-top: $contentmargin + 20px
  margin-bottom: $footerheight

  .projectItemWrap
    position: absolute
    width: 100%
    padding: 0px 15px
    box-sizing: border-box

    .transDelay
      position: relative

    .projectTitle
      text-align: center
      margin-bottom: 2em

      h1
        font-weight: 300
        letter-spacing: 0.3em
        font-size: 2.2em

    .workProject
      display: flex
      flex-wrap: wrap
      justify-content: center
      margin-bottom: 50px

      &>*
        max-width: 50%
        box-sizing: border-box
        align-items: center
        @include media("<medium")
          max-width: 100%

      .workProjectImg
        padding: 0em 0.5rem

        img
          width: 100%
          height: auto

      .workProjectDesc

        p
          padding: 0em 0.5rem
          margin-top: 0px

      .workProjectLink
        text-align: left
        margin: 1em 0.5em
        margin-top: 0em
        @include media("<medium")
          text-align: center
          margin-top: 1em

        &>*
          display: inline-block

        h3
          margin: 0em

        a
          margin-left: 1em
          color: $neutralcolor
          border: 1px solid $neutralcolor
          padding: 0.2em 1em
          border-radius: 1em
          text-decoration: none

    .photoList
      display: block
      width: 100%

      .photoWrap
        display: inline-block
        margin: 0 auto
        padding: 0.5rem
        max-width: 50%
        box-sizing: border-box
        @include media("<medium")
          max-width: 100%

        img
          width: 100%
          height: auto
          background-color: $neutralcolor

    .contactWrap
      display: block
      position: absolute
      left: 50%
      top: 30vh
      transform: translate(-50%, -50%)
      text-align: center

      div
        @extend %wave-animation

        h2
          color: $lightcolor
          margin: 1em 0em
          font-size: 1.7em
          @include media("<medium")
            font-size: 1.2em

          a
            text-decoration: none
            color: $neutralcolor
            border: 1px solid $neutralcolor
            border-radius: 1em
            padding: 0.2em 1em

    .toolKit
      width: 100%
      margin-bottom: $footerheight

      .toolGroup
        display: flex
        margin-bottom: 1rem
        @include media ("<medium")
          flex-direction: column
        &>*
          max-width: 50%
          flex-grow: 1
          @include media("<medium")
            max-width: 100%

        .toolIconGroup
          border: 1px dashed transparentize($lightcolor, 0.2)
          margin: 0rem 1rem
          box-sizing: border-box
          display: flex
          justify-content: center
          align-items: center

          i
            padding: 0rem 1rem
            font-size: 5em

        .toolDesc

          p



/* VUE TRANSITIONS */

//listslide
.listslide-enter-active, .listslide-leave-active
  transition: transform 1s ease-in-out

.listslide-enter, .listslide-leave-to
  transform: translateX(-150vw)

.listslide-enter-to, .listslide-leave
  transform: translateX(0vw)

//projectslide
.projectslide-enter-active, .projectslide-leave-active
  transition: transform 1s ease-in-out

.projectslide-enter, .projectslide-leave-to
  transform: translateX(100vw)

.projectswitch-enter-active, .projectswitch-leave-active
  .transDelay
    transition: transform 1s ease-in-out

.projectswitch-enter
  .transDelay
    transform: translateX(100vw)

.projectswitch-enter-to, .projectswitch-leave
  .transDelay
    transform: translateX(0vw)

.projectswitch-leave-to
  .transDelay
    transform: translateX(-100vw)

// //canvasslide
// .canvasslide-enter-active, .canvasslide-leave-active
//   transition: transform 0.7s ease-in-out
//
// .canvasslide-enter, .canvasslide-leave-to
//   transform: translateX(50%)

/*********/
