@import "./_include-media.scss"

// @font-face
//   font-family: 'Futura'
//   font-weight: 400
//   src: url('/src/FuturaStd-Book.otf')
//
// @font-face
//   font-family: 'Futura'
//   font-weight: 500
//   src: url('/src/FuturaStd-Bold.otf')
//
// @font-face
//   font-family: 'Futura'
//   font-weight: 300
//   src: url('/src/FuturaStd-Light.otf')

green tones
$lightcolor: #c6dec0
$neutralcolor: #8acd94
$darkcolor: #63a088
$bgcolor: mix(#252525, #0e4b60, 80)

//dark grey tones
// $lightcolor: #F6F6F6
// $neutralcolor: #F6F6F6
// $darkcolor: #666666
// $bgcolor: #252525

// //light grey tones
// $lightcolor: #FFFFFF
// $neutralcolor: #F6F6F6
// $darkcolor: #CCCCCC
// $bgcolor: #252525
// $accentcolor: #17936f

$headerheight: 70px
$footerheight: 50px
$projectlistwidth: 900px

$contentmargin: $headerheight + 20px

$breakpoints: (small: 480px, medium: 768px, large: 1024px)

html
  width: 100%
  height: 100%
  background-color: $bgcolor

body
  font-family: 'Open Sans', sans-serif
  width: 100%
  height: 100%
  min-width: 360px
  max-width: $projectlistwidth
  margin: 0 auto
  font-size: 16px
  // background-color: $bgcolor
  color: $lightcolor
  overflow-x: hidden


h1
  font-size: 2.5em
  font-weight: 700
  margin: 0px

h2
  font-size: 2em
  font-weight: 400
  margin: 0px

p
  font-size: 1em
  font-weight: 300

img
  opacity: 1
  transition: opacity 0.3s

img[data-src]
  opacity: 0

#canvashook

  canvas
    position: fixed
    // width: 100%
    height: 100%
    top: 0px
    left: 0px
    pointer-events: none
    overflow-x: hidden
    transform: translateX(0%)
    transition: transform 0.7s ease-in-out
    z-index: -1

  &.move

    canvas
      transform: translateX(-15%)

#app
  width: 100%

#header
  display: block
  position: fixed
  top: 0px
  width: 100%
  max-width: $projectlistwidth
  z-index: 101
  height: $headerheight
  pointer-events: none
  background-color: $bgcolor

.logotitle
  display: flex
  flex-direction: column
  position: absolute
  height: 100%
  width: 100%
  justify-content: center

  .logo
    display: flex
    align-items: center
    margin: 0px 0.8em

    img
      height: $headerheight/2
      width: auto
      align-items: center

  %title-shared
    display: flex
    color: $lightcolor
    letter-spacing: 0.2em
    margin: 5px 0px
    padding-left: 15px
    align-items: center

  .title
    @extend %title-shared
    font-size: 1.5rem
    font-weight: 700

  .subtitle
    @extend %title-shared
    font-size: 0.8rem
    font-weight: 300
    line-height: 1rem
    @include media("<small")
      font-size: 0.6rem
      max-width: 200px

.navigation
  display: flex
  position: absolute
  right: 0
  height: 100%
  width: 200px
  justify-content: flex-end
  flex-direction: column

  .h_item
    display: flex
    height: 100%
    align-items: center
    justify-content: flex-end

    a.nav_link
      pointer-events: all
      text-decoration: none
      color: $bgcolor
      background-color: $neutralcolor
      font-size: 0.8rem
      font-weight: 400
      letter-spacing: 0.2em
      // transform: scaleY(0.9)
      cursor: pointer
      padding: 0.2em


#footer
  display: block
  position: fixed
  height: $footerheight
  bottom: 0px
  left: 0px
  width: 100%
  // background: linear-gradient(to top, rgba($bgcolor, 1) 0%, rgba($bgcolor, 1) 50%, rgba($bgcolor, 0) 100%)
  background-color: $bgcolor

#backtolist
  position: absolute
  display: flex
  left: 0px
  bottom: 0px
  // height: 100%
  padding-bottom: $footerheight/4
  padding-left: 20px
  z-index: 1000
  cursor: pointer

  &>*
    background-color: $lightcolor
    color: $bgcolor
    padding: 5px 10px
    border-radius: 10px
    display: flex
    align-items: center

  svg
    padding-right: 7px

.social
  display: flex
  width: 100%
  height: 100%
  max-width: 500px
  margin: 0 auto
  justify-content: center
  box-sizing: border-box
  font-size: 1.1rem

  @include media("<small")
    justify-content: flex-end

  .s_item
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 4em

    a
      pointer-events: all
      font-size: 1.4em
      text-decoration: none
      color: $lightcolor


#fadeIn
  display: block
  position: fixed
  width: 100%
  height: 100%
  z-index: 10000
  background-color: $bgcolor
  pointer-events: none

.infoContainer
  display: block
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  z-index: 100
  margin: 0 auto
  padding: 0px 20px
  box-sizing: border-box
  background-color: transparentize($bgcolor, 0.4)

  .infoBox
    display: block
    position: relative
    width: 100%
    max-width: 800px
    height: calc(90% - #{$contentmargin} - #{$footerheight} - 40px)
    min-height: 400px
    margin-top: $contentmargin + 20px
    margin-bottom: $footerheight + 20px
    margin-left: auto
    margin-right: auto
    background-color: $bgcolor
    color: $lightcolor
    border: 2px solid $neutralcolor
    box-sizing: border-box
    // box-shadow: 40px 40px 0px 0px rgba($bgcolor, 0.2)

    .md
      display: block
      position: absolute
      width: 100%
      height: calc(100% - 4em)
      padding: 1em
      box-sizing: border-box
      overflow-y: scroll

    .closeInfo
      width: 100%
      height: 2em
      font-size: 2em
      padding-top: 10px
      padding-right: 10px
      margin: 0px
      text-align: right
      box-sizing: border-box
      display: block

      svg
        cursor: pointer

%project-shared
  display: block
  position: absolute
  width: 100%
  max-width: $projectlistwidth
  min-width: 360px
  margin: 0 auto
  margin-top: $contentmargin
  margin-bottom: $footerheight

#project-list
  @extend %project-shared

  .projectListWrap
    display: flex
    width: 100%
    justify-content: center
    flex-wrap: wrap

    .listItem
      display: block
      position: relative
      flex-basis: $projectlistwidth/3
      cursor: pointer

      &>div
        display: block
        width: 100%
        box-sizing: border-box

      .listItemImg
        margin-bottom: -4px
        padding: 10px
        transition: all 0.1s ease-in-out

        img
          position: relative
          width: 100%
          height: auto
          border: 1px solid $neutralcolor
          // box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.50)

        .listItemTitle
          padding-bottom: 10px
          position: absolute
          top: 10px
          left: 10px
          z-index: 10
          padding-left: 5px
          padding-top: 5px

          h2
            text-shadow: 2px 2px $bgcolor

#project-item
  @extend %project-shared

  .projectItemWrap
    width: 100%
    padding: 0px 15px
    box-sizing: border-box

    .projectTitle

      h1

    .projectItemImagesWrap
      display: flex
      flex-wrap: wrap

      .projectItemImage
        flex-basis: 50%
        margin-bottom: -4px
        padding: 10px
        box-sizing: border-box

        @include media("<medium")
          flex-basis: 100%

        img
          width: 100%
          height: auto
          box-shadow: 10px 10px 0px rgba(16, 23, 25, 0.5)

/* VUE TRANSITIONS */

//infofade
.infofade-enter-active, .infofade-leave-active
  transition: opacity 0.3s

.infofade-enter, .infofade-leave-to
  opacity: 0

.aboutslide-enter-active, .aboutslide-leave-active
  transition: transform 0.7s ease-in-out

.aboutslide-enter, .aboutslide-leave-to
  transform: translateY(100vh)

.contactslide-enter-active, .contactslide-leave-active
  transition: transform 0.7s ease-in-out

.contactslide-enter, .contactslide-leave-to
  transform: translateY(-100vh)

//listslide
.listslide-enter-active, .listslide-leave-active
  transition: transform 0.7s ease-in-out

.listslide-enter, .listslide-leave-to
  transform: translateX(-100vw)

//projectslide
.projectslide-enter-active, .projectslide-leave-active
  transition: transform 0.7s ease-in-out

.projectslide-enter, .projectslide-leave-to
  transform: translateX(100vw)

// //canvasslide
// .canvasslide-enter-active, .canvasslide-leave-active
//   transition: transform 0.7s ease-in-out
//
// .canvasslide-enter, .canvasslide-leave-to
//   transform: translateX(50%)

/*********/
